<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title> Expression </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
        <header>
            <h1> Expression </h1>
        </header>
        
        <main>
            <p> <strong> {{ expression }} </strong> </p>
        </main>

        <footer>
            {% include "menu2.html" %}
        </footer>
    </body>
</html>
