<!DOCTYPE html>


<html lang="ru">
    <head>
        <title>Первая страница</title>
    </head>

    <body>

        <h1>Курс "Промышленное программирование"</h1>

        <p>Занятие №12</p>
        <p>Тема: "Знакомство с Django"</p>
        <p>Сегодня {{ date }}</p>
    
        <h1> Menu </h1>
        <ul>
            {% for page in pages %}
            <li>
                <a href={{ page.url }}> {{ page.name }} </a>
            </li>
            {% endfor %}
        </ul>

    </body>
</html>