<!DOCTYPE html>


<html lang="ru">
    <head>
        <title>Первая страница</title>
    </head>
    
    <body>

        <h1>Курс "Промышленное программирование"</h1>
        
        <p>Занятие №12</p>
        <p>Тема: "Знакомство с Django"</p>
        <p>Сегодня {{ date }}</p>
        
        <hr>
        {% if username %}
            <p style="font-size: 30px">Hi, {{ username }}!!!</p>        
        {% else %}
            <p style="font-size: 30px">Hi, stranger! You aren't authenticated</p>
        {% endif %}
        
        <hr>
        <a href="/accounts/login/">Log in</a>
        <a href="/accounts/logout/">Log out</a>

        <hr>
        <h1> Menu </h1>
        <ul>
            {% for page in pages %}
            <li>
                <a href={{ page.url }}> {{ page.name }} </a>
            </li>
            {% endfor %}
        </ul>

        <hr>
        <h1>Menu v2</h1>
        <ul>
            <li><a href="/index/">Main page</a></li>
            <li><a href="/expression/">Expression</a></li>
            <li><a href="/history/">Expression history</a></li>
        </ul>
        
    </body>
</html>