<!DOCTYPE html>


<html lang="ru">
    <head>
        <title> Загадка </title>
    </head>

    <body>

        <h1> Загадка </h1>

        <p> Какие 2 самые частые ошибки в программировании? </p>

        <a href="/answer/"> Ответ </a>
        
        <hr>
        <h1> Menu </h1>
        <ul>
            {% for page in pages %}
            <li>
                <a href={{ page.url }}> {{ page.name }} </a>
            </li>
            {% endfor %}
        </ul>
        
        <hr>
        <h1>Menu v2</h1>
        <ul>
            <li><a href="/index/">Main page</a></li>
            <li><a href="/expression/">Expression</a></li>
            <li><a href="/history/">Expression history</a></li>
        </ul>
    </body>

    
</html>